html {
    background: #ddf;
    font-family: helvetica;
}

body {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}

#menu ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    display: inline;
    float: left;
    border: #fff solid 1px;
}

#menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background: #048;
    font-size: 14px;
    display: block;
    width: 150px;
    padding: 4px;
    text-align: center;
}

#menu ul li a:hover {
    background: #59f;
}

.ui-tabs-nav {
    background: #adf;
}

.ui-corner-all {
    border-radius: 0;
}

input[type=text], input[type=password], textarea {
    border: solid 1px #59f;
}

table {
    border-collapse: collapse;
}

table.form tr {
    margin: 5px 0;
}

.fontesPequenas {
    font-size: 10px;
}

table.form tr td:first-child, table.form tbody tr td:first-child, .legenda {
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}
.legenda{
    float: right;
}

input[type=button], input[type=submit], button {
    border: solid 1px #59f;
    border-radius: 5px;
    padding: 2px 5px;
    background: #fff;
}

select {
    border: solid 1px #59f;
}

legend {
    font-size: 14px;
    font-weight: bold;
}

.secao {
    border: none;
    margin-bottom: 10px;
    width: 99.1%;
    float: left;
}

.zebra {
    background: #eef;
}

table.formBusca tr td {
    margin-bottom: 5px;
}

.fontesPequenas {
    font-size: 11px;
}

hr.secao {
    border: none;
    border-bottom: solid 1px #59f;
    margin: 3px 0;
    padding: 0;
    width: 100%;
    float: left;
}

#criterioBusca {
    float: left;
}

.secaopagina {
    float: left;
    background: #fff;
}

#topo {
    height: 88px;
    width: 1190px;
    padding: 5px;
    background: #59f;
}

#menu {
    width: 1200px;
}

#corpo {
    width: 1190px;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    overflow-y: auto;
}

#rodape {
    width: 1190px;
    padding: 5px;
    background: #59f;
    color: #fff;
}

p {
    margin: 0;
}

table.inventario {
    border-collapse: collapse;
    width: 100%;
}

table.inventario tr td {
    border: #000 solid 2px;
}

.botao {
    text-decoration: none;
    background: #048;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
    border: #048 solid 1px;
}

.botao:hover {
    background: #44f;
}

#inventario table tbody {
    height: 300px;
    overflow-y: auto;
}

#bem .historico {
    width: 100%;
    margin: 0 auto;
}

#bem .documento {
    margin-top: 10px;
}

.historico {
    margin-top: 100px;
}

fieldset, legend {
    border: 2px outset #59f;
}

legend {
    background: #ddf;
}

#novoResponsavel {
    width: 500px;
    height: 300px;
}

div.visualizaMiniaturas {
    width: 248px;
    height: 62px;
    position: relative;
    border: solid 1px #000;
    padding: 1px;
}

div.visualizaMiniaturas div.scrollableArea * {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

img.imagemMiniatura {
    height: 60px;
    width: 60px;
    border: 1px solid #333;
    margin: 0 1px;
}

#novoResponsavel iframe {
    width: 600px;
}

.quadro {
    font-size: 12px;
    width: 40%;
    height: 200px;
    float: left;
    margin: 60px 5px;
}

.quadro tr th, .quadro tr td {
    padding: 3px 10px;
}

.quadro tr th {
    background: #eef;
}

.quadro tr td {
    border-bottom: dotted #eee 1px;
}

.pesquisa {
    margin-left: 40px;
    float: left;
    width: 40%;
}

#formBem {
    margin: 0 auto;
    width: 100%;
}

#formBem .dados, #formBem .historico{
    width: 90%;
    float: left;
}

#formBem .tombamento, #formBem .historico {
    width: 45%;
    float: left;
    margin-top: 20px;
}

#formBem fieldset table tbody tr td{
    padding: 5px 10px;
}


.menu {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 10px 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    background: #ddf;
    padding: 3px 10px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border: solid 1px #aaf;
}

.menu ul li a:hover {
    background: #eef;
}

.atual {
    display: none;
}

iframe {
    border: none;
}

.popup{
    color: red;
    font-weight: bold;
}

div#bens h3{
    background: #abc;
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

div#bens table.tablesorter, div#bens div{
    padding: 0;
    margin: 0;
    width: 100%;
}

div#bens div.divisao{
    border: solid 1px #99b;
    width: 49%;
    float: left;
    height: 420px;
    overflow-y: auto;
}


div#logo img{
    border: solid 1px #000;
}

div#logo span{
    width: 45%;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}

div#logo span.sistema{
    position: relative;
    bottom: 30px;
}

div#logo span.instituicao{
    position: relative;
    bottom: 30px;
    text-align: right;
}